# Ignorar arquivos de sistema do macOS
.DS_Store

# Ignorar credenciais e dados sensíveis
credenciais-firebase.json
firebase_base64.txt
.env

# Ignorar módulos instalados pelo npm
node_modules/

# Ignorar arquivos de log e lockfiles
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
credenciais-firebase.json
firebase_base64.txt # Por segurança
